{% extends "app/layout.html" %}

{% block content %}

<center><h2>{{ title }}</h2></center>
<hr />
<p class="citata">«Будущее принадлежит медицине предохранительной. Эта наука, идя рука об руку с лечебной, принесет несомненную пользу человечеству»</p>
<br />
<p class="avtor">(c) Пирогов Н.И.,
российский хирург, анатом, естествоиспытатель и педагог</p>
<hr />

<center><b><h3>Добро пожаловать в медицинский центр «ВИТА-Мед!»</h3></b></center>
<br />
<center><p>Мы рады приветствовать вас здесь и предлагаем широкий спектр медицинских услуг и профессиональную помощь в вопросах вашего здоровья. Наша команда квалифицированных специалистов готова оказать вам качественную медицинскую помощь, основываясь на передовых медицинских технологиях и индивидуальном подходе к каждому пациенту. 
    Мы стараемся создать комфортную обстановку и доверительные отношения с нашими пациентами, чтобы вы чувствовали себя уверенно и спокойно во время лечения. 
    Просмотрите нашу информацию, ознакомьтесь с нашими услугами и свяжитесь с нами, если у вас возникли вопросы или вам требуется консультация. Мы всегда готовы помочь вам достичь вашего оптимального здоровья и благополучия. 
    Благодарим за доверие и выбор нашего медицинского центра!</p></center>
<br />
<br />

{% endblock %}
