{% extends "app/layout.html" %}

{% block content %}

<center><h2>{{ title }}</h2></center>
<hr />
<h3>{{ message }}</h3>

<p>Добро пожаловать в медицинский центр «ВИТА-Мед!»

Здесь забота о вашем здоровье - наш приоритет. Наша команда профессионалов готова предоставить вам высококачественные медицинские услуги. Начнем вместе заботиться о вашем здоровье сегодня!

Наш центр предлагает вам следующие услуги:

Консультация специалиста
Диагностика
Комплексное лечение
Лабораторные исследования, анализы
Почему выбирают нас

принимаем по предварительной записи, никаких очередей и ожиданий в коридоре
запись результатов диагностики на флеш-карту, диск или отправка на вашу электронную почту
cовременное диагностическое оборудование – МРТ, КТ, РЕНТГЕН, УЗИ
высокий профессионализм врачей</p>
<br />

{% endblock %}
