{% extends "app/layout.html" %}
{% block content %}

<h2> {{ post_1.title }} </h2>
<hr />
{% if post_1.image and post_1.image.url != '/media/temp.jpg' %}
<img src = "{{ post_1.image.url }}" alt = "Картинка статьи блога" width = "400" />
{% endif %}

<p> {{ post_1.content | linebreaksbr }} </p>      {# вывод текста по абзацам#}

<hr />
{% if user.is_authenticated %}
<h3>Добавить комментарий</h3>

<form method="POST" >
    {% csrf_token %}
    <div>
        {{form.as_p}}
        <br />
        <button type="submit" class="save btn btn-default" >Отправить комментарий</button>
    </div>
</form>

{% else %}
<br />
<h3> Для добавления своего комментария, пожалуйста, авторизуйтесь </h3>
{% endif %}
<br />

{% for comment in comments %}
<hr/>
<h7> {{comment.date}} </h7>
<h5> {{comment.author}} </h5>
<p> {{comment.text|linebreaksbr}} </p>
{% endfor %}

<hr />
<button class="nazad" id="history-button">Вернуться назад</button>
<br />
{% endblock %}