{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <h2>Передовое оборудование</h2>
        <p>
            Одним из ключевых видов передового оборудования в медицинских центрах являются диагностические аппараты.
            Они включают в себя ультразвуковые сканеры, компьютерные томографы, рентгеновские аппараты, магнитно-резонансные томографы и другие.
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Квалифицированные специалисты</h2>
        <p>
            Квалифицированные врачи медицинского центра являются профессионалами в своей области и обладают высоким уровнем знаний и опыта в медицине.
            Они прошли специальное образование, получили необходимые сертификаты и лицензии, чтобы предоставлять медицинские услуги.
        </p>
        <p><a class="btn btn-default" href="https://pypi.org/">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Выгодная система скидок</h2>
        <p>
            Выгодная система скидок в медицинском центре может быть очень привлекательной для пациентов,
            поскольку позволяет сохранить деньги при получении необходимой медицинской помощи.
        </p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Узнать больше &raquo;</a></p>
    </div>
</div>

{% endblock %}