{% extends "app/layout.html" %}
{% block content %}

<center><h2>{{ title }}</h2></center>
<hr />

{% if user.is_authenticated %}
<center><h4>Закажите обратный звонок и мы свяжемся с Вами!</h4></center>
<div class="forma">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <br />
            {{ zapisform.as_p }}
            <br />
            <input type="submit" class="button" value="Отправить">
        </div>
    </form>
</div>

{% else %}

<center><h3>Для записи на приём, пожалуйста, авторизуйтесь</h3></center>
{% endif %}
<br />

{% endblock %}